<p align="right"><button><a href="/payments/">Payments</a> </button>
<button><a href="/customers/">Customers</a></button>
<button><a href="/billers/">Billers</a></button></p>



<table border="1" cellspacing="0" align="center" width="600px">

    <tr>
        <td align="center">
            Billers
        </td>
    </tr>

    {% if latest_billers_list %}
        {%for billers in latest_billers_list %}

    <tr>
        <td align="center">
            {{billers.biller_text}}
        </td>
    </tr>

        {% endfor %}
    {% else %}
        <p> No billers available. </p>
    {% endif %}

</table>