<p align="right"><button><a href="/payments/">Payments</a> </button>
<button><a href="/customers/">Customers</a></button>
<button><a href="/billers/">Billers</a></button></p>



<table border="1" cellspacing="0" align="center" width="600px">

    <tr>
        <td align="center">
            Customers
        </td>
    </tr>

{% if latest_customers_list %}
    {%for customers in latest_customers_list %}

    <tr>
        <td align="center">
            {{customers.customer_text}}
        </td>
    </tr>

    {% endfor %}
{% else %}
        <p> No customers available. </p>
{% endif %}

</table>