<table border="1" cellspacing="0">

	<tr>
		<td width="150px" align="center"> Date </td>
		<td width="110px" align="center"> Customer </td>
		<td width="150px" align="center"> Biller </td>
		<td width="150px" align="center"> Account </td>
		<td width="150px" align="center"> Amount </td>
	</tr>

{% if latest_payments_list %}
			{% for payments in latest_payments_list %}
	<tr>
		<td> 
		{{payments.pub_date}}
 </td>
		<td>
		{{payments.customer}}
</td>
		<td>  
		
				{{payments.payment_text}}
			
 </td>
		<td>  
		{{payments.account}}
 </td>
		<td>  
		{{payments.amount}}
</td>
	</tr>
{% endfor %}
		{% else %}
			<p> No payments are available. <p>
		{% endif %}
	
</table>