
<p align="right"><button><a href="/payments/">Payments</a> </button>
<button><a href="/customers/">Customers</a></button>
<button><a href="/billers/">Billers</a></button></p>


<p align="right"><button><a href="/newpayment/">New payment</a></button></p>

<p align="left">
<select>
	<option> Choose customer </option>
	<option>Ramazan</option>
	<option>Keks</option>
</select>
<select>
	<option> Choose biller </option>
	<option> Hihi </option>
	<option> Hoho </option>
</select>
</p>

<table border="1" cellspacing="0" align="center">

	<tr>
		<td width="150px" align="center"> Date </td>
		<td width="150px" align="center"> Customer </td>
		<td width="150px" align="center"> Biller </td>
		<td width="150px" align="center"> Account </td>
		<td width="150px" align="center"> Amount </td>
	</tr>

{% if latest_payments_list %}
			{% for payments in latest_payments_list %}
	<tr>
		<td align="center">
		{{payments.pub_date}}
 </td>
		<td align="center">
		{{payments.customer}}
</td>
		<td align="center">
		
				{{payments.biller}}
			
 </td>
		<td align="center">
		{{payments.account}}
 </td>
		<td align="center">
		{{payments.amount}}
</td>
	</tr>
{% endfor %}
		{% else %}
			<p> No payments are available. <p>
		{% endif %}
	
</table>